@media only screen and (min-width: 60em) {
  body {
    max-width: 990px;
  }

  header {
    font-size: 40px;
  }
  header img {
    width: 100px;
    height: auto;
    padding: 0.5rem;
  }
  h1 {
    font-size: 40px;
  }
}
