@media only screen and (min-width: 40em) {
  body {
    max-width: 800px;
  }
  nav button {
    display: none;
  }
  #nav {
    display: flex;
  }
  nav ul li {
    flex: 1 1 100%;
    text-align: center;
  }
  nav ul.hide {
    display: block;
  }
  header img {
    width: 90px;
    height: auto;
    padding: 0.5rem;
  }
  h1 {
    font-size: 30px;
  }
  footer {
    display: flex;
  }
  #preston-map {
    width: 100%;
  }
  
  .position-weather-box {
    position: relative;
    margin: 10px auto;
  }
  .todaysWeather {
    border: 5px solid #5b3c80;
    background-color: rgba(182, 134, 226, 0.7);
    padding: 9px;
    position: absolute;
    top: 55px;
    left: 55px;
    font-family: "Fenix", serif;
  }
  header h1 {
    max-width: 0;
  }
}
